set completion-ignore-case On
set bell-style none
set colored-stats On
set completion-prefix-display-length 5
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On